

.form-check-label{
    font-size: 15px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px; /* Ajusta la altura según tu  s necesidades */
    margin: 10px;
  }
  

.img-fluid{
    width: 259px; 
    height: auto;
    align-items:center;

}


.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222020;
    padding: 20px;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0f0d0d25;
    transition: color 0.3s ease;
}


#enviar{
    margin-top: 5px;
}
table{
border: #a30ab1;
}


.table-container {
    overflow-x: auto; /* Hace que la tabla sea scrollable en dispositivos pequeños */
    padding: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #a30ab1; /* Borde morado */
}

.custom-table caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #a30ab1; /* Color morado */
}

.custom-table th, .custom-table td {
    border: 2px solid #a30ab1; /* Borde morado */
    padding: 8px;
    text-align: left;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
    .custom-table {
        font-size: 14px; /* Reducir tamaño de fuente en dispositivos pequeños */
    }

}





li{
    color: #a30ab1;
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: 14px; /* Reducir tamaño de fuente */
        padding-left: 10px; /* Ajustar espaciado superior */
        justify-content: center; /* Centrar los elementos */
    }

    .nav-item {
        margin-bottom: 10px; /* Agregar margen inferior para espaciar los elementos */
    }
}
#tarjetas-container{
    margin: 20px;
    padding: 20px;
    display:flex;
    justify-content: center
    
}
