

.form-check-label{
    font-size: 15px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Ajusta la altura según tus necesidades */
  }

#Home {
    font-size: 36px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: #a30ab1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin: 20px 0;
  }
  

.img-fluid{
    width: 200px; 
    height: auto;
    align-items: flex-start;

}
.navbar{
    margin: 10px;
}

.footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222020;
    padding: 20px;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0f0d0d25;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #a30ab1;
}




